<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%- title %></title>
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
        <meta content="telephone=no" name="format-detection" />
        <script><%- flexibleJS %></script>
        <style><%- flexibleCSS %></style>
        <link rel="stylesheet" href="../src/page/<%- name %>/index.css">
        <script src="http://cdn.52shangou.com/lib/zepto/1.0.0/build/zepto.js"></script>
    </head>
    <body>
        <!-- CONTENT START -->

        <!-- CONTENT END -->
        <script src="../src/page/<%- name %>/index.js"></script>
    </body>
</html>