<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/api">APIMock</a>
        </div>
        <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Mtop</a></li>
                <li><a href="#">Jsonp/Ajax</a></li>
            </ul>
            <button class="nav navbar-nav navbar-right btn">
                <a href="#">创建接口</a>
            </button>
        </div>-->
    </div>
</nav>
<div class="content">
    <div class="container">
        <div class="module" data-type="mtop">
            <h2>MTop</h2>
            <ul>
                <% mtopApis.forEach(function(api, index) { %>
                <% if (api) { %>
                <li data-api="<%= api.api %>">
                    <h3><%= api.api %></h3>
                    <p><%= api.description %></p>
                    <button class="J_Edit">EDIT</button>
                    <button class="J_Copy">COPY</button>
                    <button class=" delete J_Delete"></button>
                </li>
                <% } %>
                <% }) %>
                <li class="add-item"><button class="add-btn J_Add">API++</button></li>
            </ul>
        </div>
        <div class="module" data-type="ajax-jsonp">
            <h2>Ajax/Jsonp</h2>
            <ul>
                <% ajaxJsonpApis.forEach(function(api, index) { %>
                <% if (api) { %>
                <li data-api="<%= api.api %>">
                    <h3><%= api.api %></h3>
                    <p><%= api.description %></p>
                    <button class="J_Edit">EDIT</button>
                    <button class="J_Copy">COPY</button>
                    <button class="delete J_Delete"></button>
                </li>
                <% } %>
                <% }) %>
                <li class="add-item"><button class="add-btn J_Add">API++</button></li>
            </ul>
        </div>

        <script id="addTemplate" type="text/template">
            <div class="form col-md-12">
                <div class="form-hd">{{text}}{{type}}接口</div>
                <div class="form-bd">
                    <form class="form-horizontal" role="form">
                        <!--<div class="form-group">
                            <label class="col-sm-1 control-label">类型<span> *</span></label>
                            <div class="col-sm-11">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default J_Type {{#if type==='mtop'}}active{{/if}}">mtop</button>
                                    <button type="button" class="btn btn-default J_Type {{#if type==='ajax-jsonp'}}active{{/if}}">ajax/jsonp</button>
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="name" class="col-sm-1 control-label">名称<span> *</span></label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control J_Name" id="name" placeholder="名称" autocomplete="off">
                            </div>
                        </div>
                        {{#if type==='ajax-jsonp'}}
                        <div class="form-group">
                            <label for="name" class="col-sm-1 control-label">url<span> *</span></label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control J_URL" id="url" placeholder="线上接口地址" autocomplete="off">
                            </div>
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <label for="description" class="col-sm-1 control-label">描述<span> *</span></label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control J_Description" id="description" placeholder="接口描述" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-1 control-label">状态码</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control J_Status" id="status" placeholder="状态码，默认200" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="proxy" class="col-sm-1 control-label">是否代理</label>
                            <div class="col-sm-11">
                                <input type="checkbox" class="form-control J_Proxy" id="proxy" checked="checked">
                            </div>
                        </div>
                        <div class="form-group form-group-textarea">
                            <label for="data" class="col-sm-1 control-label">数据</label>
                            <div class="col-sm-5">
                                <textarea class="form-control J_Data" id="data" placeholder="标准json数据格式,默认{ }"></textarea>
                            </div>
                            <div class="col-sm-5">
                    <pre>
                        <code class="language-javascript"></code>
                    </pre>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-11">
                                <button type="button" class="btn btn-default submit J_AddSubmit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </script>

        <script id="editTemplate" type="text/template">
            <div class="form col-md-12">
                <div class="form-hd">{{text}}{{type}}接口</div>
                <div class="form-bd">
                    <form class="form-horizontal" role="form">
                        <!--<div class="form-group">
                            <label class="col-sm-1 control-label">类型<span> *</span></label>
                            <div class="col-sm-11">
                                <div class="btn-group">
                                    {{#if type==='mtop'}}
                                    <button type="button" class="btn btn-default J_Type active">mtop</button>
                                    {{else}}
                                    <button type="button" class="btn btn-default J_Type active">ajax/jsonp</button>
                                    {{/if}}
                                </div>
                            </div>
                        </div>-->
                        <div class="form-group">
                            <label for="name" class="col-sm-1 control-label">名称<span> *</span></label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control J_Name" id="name" placeholder="名称" autocomplete="off" value="{{api}}">
                            </div>
                        </div>
                        {{#if type==='ajax-jsonp'}}
                        <div class="form-group">
                            <label for="name" class="col-sm-1 control-label">url<span> *</span></label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control J_URL" id="url" placeholder="线上接口地址" autocomplete="off" value="{{url}}">
                            </div>
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <label for="description" class="col-sm-1 control-label">描述<span> *</span></label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control J_Description" id="description" placeholder="接口描述" autocomplete="off" value="{{description}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="status" class="col-sm-1 control-label">状态码</label>
                            <div class="col-sm-11">
                                <input type="text" class="form-control J_Status" id="status" placeholder="状态码，默认200" autocomplete="off" value="{{status}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="proxy" class="col-sm-1 control-label">是否代理</label>
                            <div class="col-sm-11">
                                <input type="checkbox" class="form-control J_Proxy" id="proxy" {{#if isProxy}}checked="checked"{{/if}}>
                            </div>
                        </div>
                        <div class="form-group form-group-textarea">
                            <label for="data" class="col-sm-1 control-label">数据</label>
                            <div class="col-sm-5">
                                <textarea class="form-control J_Data" id="data" placeholder="标准json数据格式,默认{ }">{{stringify data}}</textarea>
                            </div>
                            <div class="col-sm-5">
                    <pre>
                        <code class="language-javascript"></code>
                    </pre>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-11">
                                <button type="button" class="btn btn-default submit J_EditSubmit">保存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </script>
    </div>
</div>