<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>数据mock页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//t.tbcdn.cn/g/mtb/lib-bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="//g.alicdn.com/kissy/k/1.4.6/seed-min.js"></script>
    <% if (prismCSS) { %>
    <link rel="stylesheet" href="<%= prismCSS %>">
    <% } %>
    <%  if (indexCSS) { %>
    <link rel="stylesheet" href="<%= indexCSS %>">
    <% } %>
</head>
<body>
<%- body %>
<%  if (prismJS) { %>
<script src="<%= prismJS %>"></script>
<% } %>
<%  if (indexJS) { %>
<script src="<%= indexJS %>"></script>
<% } %>
</body>
</html>